absl-py==0.10.0
alphafold2-pytorch==0.3.3
anyio @ file:///tmp/build/80754af9/anyio_1617783279600/work/dist
appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037492802/work
astor==0.8.1
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-generator==1.10
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
axial-positional-embedding==0.2.1
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
bhmm @ file:///home/conda/feedstock_root/build_artifacts/bhmm_1604356670426/work
biopython==1.79
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blis==0.7.4
brotlipy==0.7.0
bs4==0.0.1
bz2file==0.98
cached-property==1.5.2
cachetools==4.1.1
catalogue==1.0.0
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814693874/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
choldate @ git+https://github.com/jcrudy/choldate.git@0d92a523f8da083031faa0eb187a7b0f287afe69
clang==5.0
click==8.0.1
cloudpickle==2.2.1
cmake==3.28.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
contextvars==2.4
cryptography @ file:///tmp/build/80754af9/cryptography_1635366128178/work
CVXcanon==0.1.2
cvxopt==1.2.7
cvxpy==1.1.13
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.5
Cython==0.29.34
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deeptime @ file:///home/conda/feedstock_root/build_artifacts/deeptime_1628520990266/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation @ file:///tmp/build/80754af9/deprecation_1628181869014/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1623610058511/work
dopamine-rl==3.0.1
ecos==2.0.7.post1
egnn-pytorch==0.2.6
einops==0.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
En-transformer==0.3.8
entrypoints==0.3
fastcache==1.1.0
filelock==3.0.12
Flask==2.0.3
flatbuffers==1.12
future==0.18.2
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
gevent==22.10.2
gin-config==0.5.0
glmnet==2.2.1
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.22.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.56.3
graph-transformer-pytorch==0.0.1
greenlet==2.0.2
grpcio==1.48.2
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.1.0
httplib2==0.22.0
huggingface-hub==0.0.8
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1634817114288/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
immutables @ file:///tmp/build/80754af9/immutables_1628888996840/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1631916693255/work
importlib-resources==5.4.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.5.1
itsdangerous==2.0.1
jedi==0.17.0
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console==6.2.0
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1633420100582/work
jupyter-packaging @ file:///tmp/build/80754af9/jupyter-packaging_1628192929267/work
jupyter-server @ file:///tmp/build/80754af9/jupyter_server_1616083640409/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1618241231046/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
kaggle==1.5.12
keras==2.6.0
Keras-Applications==1.0.8
keras-nlp==0.3.0
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099771815/work
knockpy==1.3.0
llvmlite==0.36.0
local-attention==1.4.1
lxml==4.8.0
Markdown==3.3
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528150516/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858699142/work
mdshare @ file:///home/conda/feedstock_root/build_artifacts/mdshare_1613569282500/work
mdtraj @ file:///home/conda/feedstock_root/build_artifacts/mdtraj_1623425411269/work
mesh-tensorflow==0.1.21
mistune==0.8.4
mkl-service==2.3.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1610094565024/work
mp-nerf==0.1.11
mpmath==1.3.0
msmtools @ file:///home/conda/feedstock_root/build_artifacts/msmtools_1613003085382/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1623774455243/work
murmurhash==1.0.5
nb-conda-kernels @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_kernels_1606762461711/work
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914804165/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.5.1
nibabel==3.2.1
nilearn==0.9.1
notebook @ file:///tmp/build/80754af9/notebook_1629197205351/work
npm==0.1.1
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1630602337830/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1626681920064/work
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.3.0.38
opt-einsum==3.3.0
optional-django==0.1.0
osqp==0.6.2.post0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.1.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathos @ file:///home/conda/feedstock_root/build_artifacts/pathos_1623937754918/work
performer-pytorch==1.0.11
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1625649052827/work
plac==1.1.3
pox @ file:///home/conda/feedstock_root/build_artifacts/pox_1653039529021/work
ppft @ file:///home/conda/feedstock_root/build_artifacts/ppft_1653049182397/work
preshed==3.0.5
ProDy==2.0
progress-reporter==2.0
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.6
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127101219/work
ptvsd @ file:///home/conda/feedstock_root/build_artifacts/ptvsd_1603416338777/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py3Dmol==0.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyEMMA @ file:///home/conda/feedstock_root/build_artifacts/pyemma_1614351470990/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pypng==0.20220715.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141725711/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305763431/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify==5.0.2
pytz==2021.3
PyYAML==5.4.1
pyzmq @ file:///tmp/build/80754af9/pyzmq_1628268400816/work
qdldl==0.1.5.post0
qtconsole==4.7.7
QtPy==1.9.0
regex==2021.4.4
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
rsa==4.6
sacremoses==0.0.45
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1630910533947/work
scipy==1.5.4
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1646247900691/work
scs==2.1.3
sdpt3glue==0.9.2
se3-transformer-pytorch==0.8.10
seaborn==0.11.0
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.99
sidechainnet==0.6.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030473084/work
soupsieve==2.0.1
spacy==2.3.5
srsly==1.0.5
sympy==1.9
tables==3.5.2
tensor2tensor==1.15.7
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-addons==0.14.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.6.0
tensorflow-gan==2.1.0
tensorflow-gpu==2.1.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.7.0
tensorflow-text==2.6.0
termcolor==1.1.0
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode==1.3
tf-slim==1.1.0
thinc==7.4.5
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tokenizers==0.10.3
tomlkit @ file:///opt/conda/conda-bld/tomlkit_1644481977758/work
toolz==0.11.1
torch==1.7.1
torch-tb-profiler==0.3.1
torchtext==0.8.1
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///tmp/build/80754af9/traitlets_1632746497744/work
transformers==4.7.0
typeguard==2.13.3
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
uritemplate==4.1.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
vtk==8.2.0
wasabi==0.8.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
zope.event==4.6
zope.interface==5.5.2
